*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background: url(https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
    no-repeat center center fixed;
  background-size: cover;
  position: relative;
  padding: 20px;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(51, 104, 62, 0.5) 0%, rgba(11, 70, 45, 0.5) 100%);
  z-index: -10;
}

#add-animal {
  width: 100%;
  font-weight: bolder;
  background-image: linear-gradient(green, lightgreen, rgb(43, 221, 132));
  margin-top: 20px;
  border: 2px solid green;
  color: #fff;
}

button.animal {
  background-image: linear-gradient(green, lightgreen, white);
  margin: 5px;
  padding: 2px 25px;
  border-radius: 32px;
  outline: none;
}

#animals-view {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#animals-view img {
  width: 400px;
  height: 12rem;
  margin: 10px 5px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(15, 131, 49, 0.2), 0 0 20px rgba(23, 139, 75, 0.5);
  object-fit: cover;
}
.divContainer p {
  display: none;
}
